@import url(../table/table.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../section-title/section-title.css);

.digits {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
}




